n8n.json
{
  "nodes": [
    {
      "parameters": {
        "respondWith": "jwt",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c5fbc5bb-00e2-41be-b59f-b003e694beb6",
      "name": "Respond /auth/login",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -304,
        752
      ],
      "credentials": {
        "jwtAuth": {
          "id": "v8LfRFMauNpu3ztt",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "34f80b87-1c29-45e8-8db5-227bf6270800",
      "name": "Respond GET /messages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1280,
        384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f3df1c30-79ca-4e45-9c36-91164f4230f5",
      "name": "Respond POST /messages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1136,
        928
      ]
    },
    {
      "parameters": {
        "content": "## Auth",
        "height": 816,
        "width": 1200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        640
      ],
      "id": "2e788c78-e24d-47e7-80c3-de9b82192187",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Lista mensagens com paginação e filtro status",
        "height": 656,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        208
      ],
      "id": "d768be6b-e9fe-459c-a05e-1ab2f8c98ab8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $('/messages').item.json.body.title }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('/messages').item.json.body.status }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $('/messages').item.json.body.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        928
      ],
      "id": "2c441228-1a3d-43a6-8520-9d9a6a7102cc",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "messages",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('/messages').item.json.query.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        1168
      ],
      "id": "52cac261-1e67-48ed-9fbf-a751caae9711",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "messages",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('/messages').item.json.query.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $('/messages').item.json.body.title }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('/messages').item.json.body.status }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $('/messages').item.json.body.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        1408
      ],
      "id": "2335f9a4-90cc-4147-826b-71123bd3156b",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "messages",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('/messages').item.json.query.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        656
      ],
      "id": "e49041d6-d623-4507-9815-e841094e07e8",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "messages",
        "limit": "={{ $('/messages').item.json.query.limit }}",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "={{ $('/messages').item.json.query.status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        464
      ],
      "id": "828e6a8b-740e-436c-809f-2217d99de9be",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb6e07be-312d-40d9-a3c1-03e1dcec42d4",
              "leftValue": "={{ $('/messages').item.query.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        384
      ],
      "id": "51a7f973-e018-42fb-a729-29ec4014beee",
      "name": "If todos"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "messages",
        "limit": "={{ $('/messages').item.json.query.limit }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        304
      ],
      "id": "ed975bf5-cf6c-401b-a270-cfb8d77c9888",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cria uma nova mensagem",
        "height": 240,
        "width": 672,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        864
      ],
      "typeVersion": 1,
      "id": "7e5c79ac-1bea-449c-b5da-6881944188ae",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Deleta uma mensagem",
        "height": 224,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        1104
      ],
      "typeVersion": 1,
      "id": "e67137d3-afdd-45ab-ac9f-a8780c4ef00b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Atualiza uma mensagem",
        "height": 256,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        1328
      ],
      "typeVersion": 1,
      "id": "89d476ce-92c3-4974-89a0-8cfd9189376f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET",
          "POST",
          "DELETE",
          "PATCH"
        ],
        "path": "n8nmensageria/messages",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "e21673d9-573f-4253-9b53-18622a7dfd31",
      "name": "/messages",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        64,
        912
      ],
      "webhookId": "54bc396d-810c-4bf5-bbb3-c60d2a6dc845"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8nmensageria/auth/login",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "2a1fbb51-ac45-45a2-a86c-ab9677956247",
      "name": "/auth/login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1184,
        832
      ],
      "webhookId": "5a7756f6-3df6-4d51-baee-8ca23b84063d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  title: 'Unauthorized',\n  status: 401,\n  detail: 'Usuário ou senha inválidos'\n}",
        "options": {}
      },
      "id": "2123571d-3cf0-40b7-9f18-cbc5c20188f1",
      "name": "Incorreto",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -464,
        912
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62082173-c5a9-4782-809f-a7f1baa4f101",
              "leftValue": "={{ $('/messages').item.json.query.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        528
      ],
      "id": "6696f4f5-11d2-4102-8703-e8098304176b",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Conta criada com sucesso",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -272,
        1120
      ],
      "id": "be35f2d8-9972-452e-856d-10469e7f95f4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $('/auth/login').item.json.body.username }}"
            },
            {
              "keyName": "password",
              "keyValue": "={{ $('/auth/login').item.json.body.password }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -848,
        832
      ],
      "id": "224536e9-877d-4e08-8a80-ca71cac4973a",
      "name": "Procura",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Mensageria_n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "user",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "username",
              "fieldValue": "={{ $('Edit Fields2').item.json.login }}"
            },
            {
              "fieldId": "password",
              "fieldValue": "={{ $('Edit Fields2').item.json.senha }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -464,
        1120
      ],
      "id": "defd48c6-7ed1-44a0-b0a0-b185ab8d1d6f",
      "name": "Criar conta",
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $json.login }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        1136
      ],
      "id": "8e267866-8ded-46aa-bacc-f1e4d1107b55",
      "name": "Procurar se existe",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ayFdyN8A8vIZ48ce",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8nmensageria/auth/register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "bd032415-da40-45e5-953f-c29da8682ec5",
      "name": "/auth/register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1184,
        1136
      ],
      "webhookId": "5a7756f6-3df6-4d51-baee-8ca23b84063d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7474068b-7ad7-425d-8a71-97c5c217900c",
              "name": "user",
              "value": "={{ $json.body.username }}",
              "type": "string"
            },
            {
              "id": "cff4961d-f6d5-4307-86fb-4873822ac624",
              "name": "password",
              "value": "={{ $json.body.password }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        832
      ],
      "id": "877d60a3-7f1e-4b89-aaef-08f5e5deeec8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "claims": {},
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        -464,
        752
      ],
      "id": "f7d02621-ff95-4a59-a4f6-fe8fe3e9fe11",
      "name": "JWT",
      "credentials": {
        "jwtAuth": {
          "id": "v8LfRFMauNpu3ztt",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.headers.authorization }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        304,
        528
      ],
      "id": "a675f0da-7213-4447-9a81-7a01545f2871",
      "name": "JWT1",
      "credentials": {
        "jwtAuth": {
          "id": "v8LfRFMauNpu3ztt",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.headers.authorization }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        736,
        928
      ],
      "id": "96079cfb-2aa8-460e-834c-6a10f18a8bbd",
      "name": "JWT2",
      "credentials": {
        "jwtAuth": {
          "id": "v8LfRFMauNpu3ztt",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.headers.authorization }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        736,
        1168
      ],
      "id": "8a98f93a-0242-4cf4-8062-29cae03343a5",
      "name": "JWT3",
      "credentials": {
        "jwtAuth": {
          "id": "v8LfRFMauNpu3ztt",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.headers.authorization }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        736,
        1408
      ],
      "id": "57c4ef44-8a6f-462e-8057-d59ecf8bf19d",
      "name": "JWT4",
      "credentials": {
        "jwtAuth": {
          "id": "v8LfRFMauNpu3ztt",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7474068b-7ad7-425d-8a71-97c5c217900c",
              "name": "login",
              "value": "={{ $json.body.username }}",
              "type": "string"
            },
            {
              "id": "cff4961d-f6d5-4307-86fb-4873822ac624",
              "name": "senha",
              "value": "={{ $json.body.password }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        1136
      ],
      "id": "f0ade914-e1bf-4c69-8982-2543598145f8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Esse login já existe",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -464,
        1312
      ],
      "id": "f9ba1d39-543a-45bd-b95a-49b951f14ed4",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "956ff4d4-a4de-43ad-98da-c6702493ce89",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        1136
      ],
      "id": "8c0221d9-f981-42a7-b81d-6226952edcfd",
      "name": "Não existe1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "956ff4d4-a4de-43ad-98da-c6702493ce89",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        832
      ],
      "id": "f61b4065-c441-475c-a0e7-3cce8726254f",
      "name": "existe"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "={{$json.__contentType}}"
              }
            ]
          }
        }
      },
      "id": "9081b82b-faf5-4250-804c-f30316137cfc",
      "name": "Respond GET /messages?id",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        992,
        656
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b0a8c843-4997-4743-b5b3-249da1c36af8",
      "name": "Respond DELETE /messages?id",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1136,
        1168
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6400ccdc-3825-4b2f-a300-0018ae5ca2d7",
      "name": "Respond PATCH /messages?id",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1136,
        1408
      ]
    }
  ],
  "connections": {
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond POST /messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Respond DELETE /messages?id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Respond PATCH /messages?id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Respond GET /messages?id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Respond GET /messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If todos": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Respond GET /messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/messages": {
      "main": [
        [
          {
            "node": "JWT1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JWT2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JWT3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JWT4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/auth/login": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If todos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procura": {
      "main": [
        [
          {
            "node": "existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar conta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procurar se existe": {
      "main": [
        [
          {
            "node": "Não existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/auth/register": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Procura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "Respond /auth/login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT2": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT3": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT4": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Procurar se existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não existe1": {
      "main": [
        [
          {
            "node": "Criar conta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incorreto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2b34dd637e53a73a0f7d2a9f8a3fd92cc278e0c4416fc0d9e0a094b96950b51"
  }
}